<!doctype html>
<html>
<head>
    <title>SML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="sml">
<div  ng-controller="smlCtrl as $ctrl">
    <div>
        Guest's count: <span ng-bind="$ctrl.getCount()"></span>
    </div>
    <table>
        <tr>
            <th style="width: 200px">Name</th>
            <th style="width: 50px">Age</th>
            <th style="width: 100px">Coupled</th>
            <th style="width: 100px">Drink</th>
            <th style="width: 70px"></th>
        </tr>
        <tr>
            <th style="width: 200px"></th>
            <th style="width: 50px"></th>
            <th style="width: 100px"></th>
            <th style="width: 100px">
                <select style="width: 100px" ng-model="$ctrl.filter.drink">
                    <option value=""></option>
                    <option value="WINE">Wine</option>
                    <option value="BEER">Beer</option>
                    <option value="JUICE">Juice</option>
                </select>
            </th>
        </tr>
        <tr ng-repeat="row in $ctrl.storage | drink:$ctrl.filter.drink track by row.id ">
            <td><input style="width: 200px" type="text" ng-model="row.guest.name" ng-change="$ctrl.$onChange()"></td>
            <td><input style="width: 50px" type="number" ng-model="row.guest.age" ng-change="$ctrl.$onChange()"></td>
            <td><input style="width: 100px" type="checkbox" ng-model="row.guest.coupled" ng-change="$ctrl.$onChange()"></td>
            <td>
                <select style="width: 100px" ng-model="row.guest.drink" ng-change="$ctrl.$onChange()">
                    <option value="WINE" selected>Wine</option>
                    <option value="BEER">Beer</option>
                    <option value="JUICE">Juice</option>
                </select>
            </td>
            <td>
                <button style="width: 70px" ng-click="$ctrl.deleteRow(row.id)">Delete</button>
            </td>
        </tr>
    </table>
    <button ng-click="$ctrl.addRow($ctrl.filter.drink)">Add guest</button>
</div>
</body>
</html>